{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 90,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
