:root {
  /* Cores */
  --color-white: #fafafa;
  --color-success: #28a745;
  /* Fontes */
  --font-cursive: 'Apple Chancery, cursive';
  /* Espaçamento */
  --spacing-xs: 8px;
  --spacing: 16px;
  /* Bordas */
  --main-border: 2px solid blue;
  --discreet-border: 1px solid #ddd;
  /* Fundo */
  --main-background: #f0f0f0;
  --opcional-background: #fff;
  /* Botões e inputs */
  --style-button: 1px solid #ccc;
}

@keyframes move {
  0% {
    transform: translateY(0em);
  }

  40% {
    transform: translateY(2em);
  }

  80% {
    transform: translateY(4em);
  }

  100% {
    transform: translateY(6em);
  }
}

@keyframes color {
  0% {
    background-color: blue;
  }

  20% {
    background-color: purple;
  }

  40% {
    background-color: blueviolet;
  }

  80% {
    background-color: violet;
  }

  100% {
    background-color: blue;
  }
}

@keyframes expanding {
  0% {
    transform: scale(1.2);
  }

  40% {
    transform: scale(1.5);
  }

  80% {
    transform: scale(1.7);
  }

  100% {
    transform: scale(2);
  }
}

.body-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: var(--main-background);
}

.main-style {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: var(--discreet-border);
  background-color: var(--opcional-background);
  width: 80%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: var(--spacing);
}

input,
button {
  padding: 0.6rem;
  border: var(--style-button);
  border-radius: 4px;
  width: 25%;
  align-self: center;
  margin-bottom: var(--spacing);
  transition: 1s;
}

button {
  background-color: #ff0000b9;
  color: var(--opcional-background);
  font-weight: bold;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #ff5959;
}

.posts {
  padding: 0;
}
