/* Estilização simples */
body {
  background-color: rgb(182, 182, 182);
}

/* Utilização de flexbox para melhor visualização do menu */
header {
  background: linear-gradient(to bottom, rgb(182, 182, 182), rgb(144, 144, 144));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilização simples e utilização de flexbox para melhor visualização do menu */
nav ul {
  list-style: none;
  display: flex;
}

/* Para a imagem não ficar "grudada" com a lateral esqueda da tela */
header img {
  margin-left: 30px;
}

/* Para a imagem não ficar "grudada" com a lateral esqueda da tela */
nav ul li {
  margin-right: 30px;
}

/* Estilização simples*/
nav ul li a {
  text-decoration: none;
}

/* Estilização simples*/
a:hover {
  color: rgb(0, 6, 68);
}

/* Estilização simples*/
main {
  text-align: center;
}

/* Estilização simples e utilização de grid para organização dos elementos*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px auto 50px;
  justify-items: center;
}

/* o rodapé serve para ser semelhante ao cabeçalho mas o menu deve ser exibido
em coluna*/
footer {
  background: linear-gradient(to bottom, rgb(182, 182, 182), rgb(144, 144, 144));
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Para a imagem ficar afastada da lateral esquerda da tela */
.flex-item:first-child {
  margin-left: 30px;
  align-self: flex-start;
}

@media (max-width: 768px) {
  /* Ajuste para visualização em telas menores, conforme solicitado
    no exercício*/
  .grid-container {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
