*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #2c3e50;
  --secondary-color: #3498db;
}

html {
  scroll-behavior: smooth;
}

li {
  display: list-item;
  margin: 0px 8px;
  padding: 8px;
  text-align: left;
}

li:not([class]),
a:not([class]),
ul:not([class]) {
  max-width: 60ch;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  --font-weight: 700;
  --font-width: 80;

  font-stretch: 100%;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #f8fffd;
  margin: 0;
  padding: 0;
  text-rendering: optimizespeed;
  font-size: 1.15rem;
  line-height: 1.6;
  font-family: 'Open Sans', serif;
  min-height: 100vh;
  letter-spacing: -0.5px;
}

@media only screen and (min-width: 40em) {
  body {
    font-size: 1.25rem;
  }
}

a:focus,
a:hover {
  text-decoration: none;
}

.home-section.concepts,
.primary-footer,
.home-section.projects,
.primary-nav {
  border: none;
  box-shadow: 0em 0 2em rgba(0, 0, 0, 0.1);
}

.primary-nav {
  background-color: #fff;
  font-weight: 800;

  --font-width: 80;

  line-height: 32px;
  margin-bottom: 3.052rem;
  padding: 2rem 0;
}

@media only screen and (min-width: 40em) {
  .primary-nav {
    margin-bottom: 5.653rem;
  }
}

.nav-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 25.6px;
  -webkit-box-pack: center;
  margin: 0;
  padding: 0;
}

.primary-footer a {
  font-weight: 750;

  --font-width: 50;

  color: inherit;
}

.nav-list li {
  margin: 0.5rem 0;
}

.nav-list li a {
  border-width: 1.5px;
  border-radius: 0.25rem;
  box-sizing: border-box;
  text-decoration: none;
  height: 2.5rem;
  padding: 0.75rem 1.5rem;
  width: auto;
  line-height: 1.5;
  transition: all 0.3s ease;
  outline: none;
}

.primary-footer a:focus,
.primary-footer a:hover {
  color: #db2c00;
}

.nav-list li a:hover,
.nav-list li a:focus {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.nav-list li a:hover {
  outline: 0;
}

.home {
  color: #db2c00;
  border: 1.5px solid #db2c00;
  box-shadow: 4px 4px 0px 0px #db2c00;
}
.projects {
  color: #dd0e42;
  border: 1.5px solid #dd0e42;
  box-shadow: 4px 4px 0px 0px #dd0e42;
}
.concepts {
  color: #255b98;
  border: 1.5px solid #255b98;
  box-shadow: 4px 4px 0px 0px #255b98;
}
.utils {
  color: #1a7f78;
  border: 1.5px solid #1a7f78;
  box-shadow: 4px 4px 0px 0px #1a7f78;
}
.contact {
  color: #255b98;
  border: 1.5px solid #255b98;
  box-shadow: 4px 4px 0px 0px #255b98;
}

.home,
.projects,
.concepts,
.utils,
.contact {
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.25em;
}

.container {
  margin: 0 auto;
  max-width: 62.5rem;
  padding: 0 1.5rem;
}

.hero {
  grid-template-areas:
    'heading'
    'image'
    'paragraph';
  display: grid;
  gap: 1rem;
  margin-bottom: 3.5rem;
  position: relative;
}

.hero picture {
  align-self: start;
  max-width: 100%;
  border: 1.5px solid blue;
  box-shadow: 4px 4px 0px 0px blue;
  border-radius: 0.5rem;
  grid-area: image;
  overflow: hidden;
}

.hero picture img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

@media only screen and (min-width: 40em) {
  .hero {
    margin-bottom: 7rem;
    grid-template-areas:
      'image heading'
      'paragraph paragraph';
  }
  .hero picture {
    height: 100%;
    max-height: 28rem;
    max-width: 17.5rem;
    min-width: 15rem;
    width: 25vw;
  }
}

@media only screen and (min-width: 65em) {
  .hero {
    grid-template-areas:
      'image heading'
      'image paragraph';
  }
}

.hero::before {
  border: 1.5px solid blue;
  box-shadow: 4px 4px 0px 0px blue;
  border-radius: 1em;
  inset: -0.5em -0.5em -0.5em -0.5em;
  content: '';
  grid-row: 1/2;
  position: absolute;
  z-index: -1;
}

.hero-title {
  font-size: 1.953rem;
  font-weight: 900;
  color: blue;
  grid-area: heading;
  padding: 0.5rem 0;
}

@media only screen and (min-width: 40em) {
  .hero-title {
    font-size: 2.827rem;
  }
}

.hero-paragraph {
  grid-area: paragraph;
}

.hero p {
  max-width: 60ch;
}

.last-paragraph {
  margin-top: 0.75em;
}

.hero picture > img {
  height: 100%;
  max-height: inherit;
  max-width: inherit;
  min-width: inherit;
  object-fit: cover;
  object-position: center;
  width: inherit;
}

.home-section {
  padding: 3.5rem 0;
}

@media only screen and (min-width: 65em) {
  .home-section {
    padding: 7rem 0;
  }
}

.home-section.projects {
  background-color: #fff;
}

.home-section header {
  text-align: right;
  width: max-content;
}

.home-section h2 {
  font-size: 2.441rem;
  line-height: 0.8;
}

@media only screen and (min-width: 40em) {
  .home-section h2 {
    font-size: 4rem;
  }
}

.primary-footer p {
  margin-left: auto;
  margin-right: auto;
}

.home-section h2 + p {
  --font-weight: 300;

  border-radius: 0.4em;
  color: #666;
  font-size: 0.85em;
  margin-bottom: 2em;
  margin-top: 0;
}

.section-paragraph {
  color: black;
  margin-top: 0.75em;
  width: 100%;
}

.button,
time {
  text-transform: uppercase;
}

.button {
  font-weight: 800;
  background-color: #dd0e42;
  border: 0;
  border-radius: 100vw;
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 0.04em;
  line-height: 1;
  padding: 0.95em 1.75em 0.85em;
  position: relative;
  text-decoration: none;
  transform: scale(1);
  transition:
    transform 0.2s ease,
    -webkit-transform 0.2s ease;
  margin-top: 0.75rem;
}

#concepts-button {
  background-color: #255b98;
}

.button::before {
  background-color: #000;
  border-radius: inherit;
  inset: 0 0 0 0;
  box-shadow: 0 0.5em 1.25em #000;
  content: '';
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s ease;
  z-index: -1;
}

.button:focus::before,
.button:hover::before {
  opacity: 0.3;
}

.button:focus,
.button:hover {
  transform: scale(1.05) translateY(-0.125em);
}

.home-section.utils {
  background-color: #fff;
  border: none;
  box-shadow: 0em 0 2em rgba(0, 0, 0, 0.1);
}

.button[data-reverse='true'] {
  background-color: #1a7f78;
  color: #fff;
}

.primary-footer {
  background-color: #f9f2e9;
  margin-top: 10rem;
  font-size: 1rem;
  padding: 3rem;
  text-align: center;
}

.primary-footer ul {
  -webkit-box-pack: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 2rem;
  padding: 0;
}

ul[role='list'] {
  list-style: none;
}
