header {
  border-bottom: 1px solid #003049;
  margin-bottom: 1.5rem;
}

header,
footer {
  background-color: #669bbc;
  color: white;
  text-align: center;
}

h1,
h2 {
  margin: 10px 0;
}

body {
  display: grid;
  grid-template-rows: min-content auto min-content;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.info-container h3 {
  color: #003049;
  line-height: 1.6;
  margin-top: 0;
}

.info-container p {
  color: #2c3e50;
  line-height: 1.6;
}

.info-container ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.info-container strong {
  color: #2ecc71;
}

main {
  display: flex;
  gap: 1rem;
}

.container-style {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

button {
  height: 2rem;
}

#sidebar {
  width: 22%;
  display: flex;
  flex-direction: column;
}

.section-btn {
  width: 100%;
  height: 5%;
  margin: 3px 0;
  background-color: field;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

.arrow-img {
  width: 2vw;
}

.div-img {
  width: 20%;
}

img {
  width: 20vw;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

#list-result {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: white;
  padding: 1.5rem 1.5rem 1.5rem 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  width: 80%;
  overflow-y: auto;
}

.table-modal {
  max-height: 60vh;
  overflow-y: auto;
  margin-top: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background-color: white;
}

#list-result li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#list-result::-webkit-scrollbar {
  width: 8px;
}

#list-result::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

#list-result::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
